attrs
Automat
beautifulsoup4
brew
bs4
cffi
constantly
cryptography
cssselect
hyperlink
idna
incremental
itemadapter
itemloaders
jmespath
lxml
parsel
Protego
pyasn1
pyasn1-modules
pycparser
PyDispatcher
PyHamcrest
pyOpenSSL
queuelib
Scrapy
service-identity
six
soupsieve
Twisted
w3lib
zope.interface
